<div class="textbg p-3 pb-5">
<div class="container">
    <h3 class="p-2 pt-3 ">全てのレシピ一覧</h3>
    <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col-md-4 mt-2">
          <div class="card h-100" style="background: rgba(255,255,255,0.1);">
              <img class="card-img-top"  src="<%= recipe.image %>" alt="">
                <div class="card-body">
                  <p class="card-title"><%= recipe.title %></p>
                  <p class="card-subtitle"><%= recipe.date %></p>
                  <p class="card-text"><%= recipe.content %></p>
                  <%= link_to "詳細",("/recipes/#{recipe.id}"), class: 'btn btn-outline-primary' %>
                </div>
          </div>
        </div>
      <% end %>
</div>
