<div class="textbg p-3 pb-5">

  <% if users.any? %>
    <h3 class="p-2 pt-3 " style="font-size: 100%;">全ての参加ユーザーと最新の投稿</h3>
    <div class="container">
        <ul class="list-unstyled mt-3">
          <% users.each do |user| %>
          <div class="row mt-4">
            <div class="col-md-5">
              <li class="media">
                <img class="mr-2 rounded" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">
                <div class="media-body">
                  <div style="font-weight:bold">
                    <%= user.name %>
                  </div>
                  <div>
                     <div class="mb-2"><%= render 'relationships/follow_button', user: user %></div>
                    <p><%= link_to 'レシピ一覧へ', user_path(user) %>
                    <%= user.title %></p>
                  </div>
                </div>
              </li>
            </div>
            <div class="col-md-7">
              <div class="card mb-3" style="max-width: 540px; background: rgba(255,255,255,0.1)">
                <div class="row">
                  <% if user.recipes.any? %>
                    <div class="col-md-6">
                      <img src="<%= user.recipes.last.image %>" alt="">
                    </div>
                    <div class="col-md-6">
                      <div class="card-body"> 
                        <div class="card-title">
                          <p><%= user.recipes.last.title %></p>
                        </div>
                        <div class="card-subtitle">
                          <p><%= user.recipes.last.date %></p>
                        </div>
                        <%= link_to "詳細",("/recipes/#{user.recipes.last.id}"), class: 'btn btn-outline-dark' %>
                      </div> 
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </ul>
    </div>
    <%= paginate users %>
  <% end %>
</div>
