  <div class="container">
    <h3 class="p-2 bg-dark text-light" style="font-size: 120%;"><%= @user.name %>のレシピ一覧</h3>
    <%= render 'relationships/follow_button', user: @user %>
    <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col-md-4">
          <div class="card h-100">
              <img class="card-img-top"  src="<%= recipe.image %>" alt="">
                <div class="card-body">
                  <p class="card-title"><%= recipe.title %></p>
                  <p class="card-subtitle"><%= recipe.date %></p>
                  <p class="card-text"><%= recipe.content %></p>
                  <%= link_to "詳細",("/recipes/#{recipe.id}"), class: 'btn btn-dark' %>
                </div>
          </div>
        </div>
      <% end %>
      <% unless @recipes.any? %>
        <div class="col-md-6">
              <p class="card-text">レシピの登録がまだありません。登録しませんか？</p>
              <div id="buttons">
                <%= link_to 'レシピを登録', new_recipe_path, class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>  