<div class="textbg p-3 pb-5">
    <div class="container">
      <h3 class="p-2 pt-3 "><%= @user.name %>のレシピ一覧</h3>
      <% unless current_user == @user %>
        <%= render 'relationships/follow_button', user: @user %>
        <p class="mt-2">紹介文：<%= @user.title %></p>
      <% end %>
        <div class="search-form">
          <%= form_with url: search_user_path, method: :get, local: true do |f| %>
            <%= f.text_field :search, :class => "form-control col-sm-4" %>
            <%= f.submit :検索, :class => "mt-0 btn btn-primary"  %>
          <% end %>
        </div>
        <div class="row">
        <% @recipes.each do |recipe| %>
          <div class="col-md-4 mt-2">
            <div class="card h-100" style="background: rgba(255,255,255,0.1);">
                <img class="card-img-top"  src="<%= recipe.image %>" alt="">
                  <div class="card-body">
                    <p class="card-title"><%= recipe.title %></p>
                    <p class="card-subtitle"><%= recipe.date %></p>
                    <p class="card-text"><%= recipe.content %></p>
                    <%= link_to "詳細",("/recipes/#{recipe.id}"), class: 'btn btn-outline-dark' %>
                  </div>
            </div>
          </div>
        <% end %>
          
        <% unless @recipes.any? %>
          <div class="col-md-6">
                <p class="card-text">レシピの登録がまだありません。</p>
                <% if current_user == @user %>
                  <div id="buttons">
                    <%= link_to 'レシピを登録', new_recipe_path, class: 'btn btn-outline-info' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>  
  </div>