  <div class="textbg m-0">
    <div class="container mt-3 pt-2 pb-3">
      <h3 class="p-2"><%= current_user.name %>のレシピ候補<a class="ml-2 mt-0 btn btn-outline-dark" onclick="location.reload();" role="button">シャッフルする</a></h3>
      <p class="pt-0 pb-0 mt-0 mb-0" style="font-size: 90%;">お気に入りのレシピからランダムに3つ表示</p>
      <div class="row">
          <% @likes.sample(3).each do |recipe| %>
              <div class="col-md-4 text-truncate mt-2">
                <div class="card h-100" style="background: rgba(255,255,255,0.1);">
                    <img class="card-img-top"  src="<%= recipe.image %>" alt="">
                      <div class="card-body">
                        <p class="card-title"><%= recipe.title %></p>
                        <p class="card-subtitle"><%= recipe.date %></p>
                        <%= link_to "詳細",("/recipes/#{recipe.id}"), class: 'btn btn-outline-dark' %>
                      </div>
                 </div>
              </div>             
          <% end %>
        <% unless @likes.any? %>
          <div class="col-md-4 mt-2">
            <div class="card border-info mb-3">
              <div class="card-body text-info">
                <p class="card-text">お気に入りの投稿がまだありません。まずは投稿してみませんか？</p>
                <div id="buttons">
                  <%= link_to 'レシピを登録', new_recipe_path, class: 'btn btn-outline-info' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>  
  </div>  

  <div class="textbg m-0">
    <div class="container mt-3 pb-3">
      <h3 class="p-2 pt-3 ">友達の新規レシピ</h3>
      <div class="row">
        <% @followingrecipes.first(3).each do |recipe| %>
          <div class="col-md-4 mt-2">
            <div class="card h-100" style="background: rgba(255,255,255,0.1);">
                <img class="card-img-top"  src="<%= recipe.image %>" alt="">
                  <div class="card-body">
                    <p class="card-title"><%= recipe.title %></p>
                    <p class="card-subtitle"><%= recipe.date %></p>
                    <%= link_to "詳細",("/recipes/#{recipe.id}"), class: 'btn btn-outline-dark' %>
                 </div>
            </div>
          </div>
        <% end %>
        <% unless @followingrecipes.any? %>
          <div class="col-md-4 mt-2">
            <div class="card border-info mb-3">
              <div class="card-body text-info">
                <p class="card-text">レシピ友達の登録がまだありません。登録しませんか？</p>
                <div id="buttons">
                  <%= link_to '全てのレシピを見る', recipes_path, class: 'btn btn-outline-info' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>  
  </div>  
  
  <div class="textbg m-0">
    <div class="container mt-3 pb-3">
      <h3 class="p-2 pt-3">みんなの新規投稿レシピ</h3>
      <div class="row">
        <% @allrecipes.first(3).each do |recipe| %>
          <div class="col-md-4 mt-2">
            <div class="card h-100" style="background: rgba(255,255,255,0.1);">
                <img class="card-img-top"  src="<%= recipe.image %>" alt="">
                  <div class="card-body">
                    <p class="card-title"><%= recipe.title %></p>
                    <p class="card-subtitle"><%= recipe.date %></p>
                    <%= link_to "詳細",("/recipes/#{recipe.id}"), class: 'btn btn-outline-dark' %>
                  </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>  
  </div>  
  
  <div class="textbg m-0 mb-3">
    <div class="container mt-3 mb-3">
      <h3 class="p-2 pt-3">各種レシピサイト</h3>
      <div class="row">
          <a href="https://cookpad.com/" class="btn btn-lg btn-outline-info ml-4" target="_blank">クックパッド</a>
          <a href="https://cocoroplus.jp.sharp/kitchen/recipe/" class="btn btn-lg btn-outline-info ml-4"target="_blank">cocoro kitchen</a>
          <a href="https://delishkitchen.tv/" class="btn btn-lg btn-outline-info ml-4" target="_blank">DELISH KITCHEN</a>
          <a href="https://www.kurashiru.com/" class="btn btn-lg btn-outline-info ml-4" target="_blank">クラシル</a>
          <a href="https://recipe.rakuten.co.jp/" class="btn btn-lg btn-outline-info ml-4" target="_blank">楽天レシピ</a>
          <a href="https://about.recipe-diary.com/#gallery" class="btn btn-lg btn-outline-danger ml-4">世界のレシピ検索(当サイト)</a>

      </div>  
    </div>
  </div>
    <div class="container mt-3 mb-3">  
    <%= link_to 'プライバシーポリシー', page_path('privacy'), class:"btn btn-light" %>
    <%= link_to '利用規約', page_path('terms'), class:"btn btn-light" %>
    <a href="https://about.recipe-diary.com/" class="btn btn-light" target="_blank">レシピ日記について(Global Recipe Search)</a>
    </div>

<% unless user_signed_in? %>
  <div class="top">
    <div class="textbg p-3 pt-5 pb-5">
      <div class="jumbotron" style="background-color: transparent;">
        <div class="container-fluid">
            <h1 class="text-center">レシピ日記</h1>
            <p class="text-center">~自分だけのレパートリー~</p>
        </div>
      </div>
      <div id="buttons" class="text-center">
        <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-primary' %>
        <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
<% end %>


